*{
	box-sizing:border-box;
	/*margin:0;
	padding:0;*/
}

body{
	background:#2a332a;
}

.button{
	position:relative;
	float:right;
	margin-right:2em;
	bottom:-20%;
}

.container {
	margin-top:2em;
	background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:600px;
}

.q_1{
	position: relative;
	font-family: 'Homemade Apple', cursive;
	color:white;
	float:right;
	border:white dotted 2px;
	right:22.5%;
	top:20%;
	width:300px;
	height:400px;
}

.q_head{

	width:100%;
	text-align:center;
	border-bottom:white dotted 2px;

}

.q_body{

	padding:2em 2em 3em 8em;
	width:100%;
	height:82.5%;
	border:white dashed 5px;
}

.instructions {
	position:relative;
	font-family: 'Great Vibes', cursive;
	/*font-family: 'Homemade Apple', cursive;*/
	text-align:center;
	color:white;
	font-size:24px;
	letter-spacing: 5px;
	float:left;
	height: 600px;
	width: 200px;
	border: white dotted 2px;
}

#instruct{
	font-size:16px;
}

#start{
	margin-top:1em;
}

#start:hover{
	border:grey solid 5px;
}